.heading {
    padding: 40px;
    font-size: 2rem;
}

.card {
    padding: 0 10em;
    display: flex;
}

.card-text {
    line-height: 2em;
    font-size: 18px;
    padding: 0 5em;
}

.card-title {
    padding: 0 3em;
}

.techStack {
    text-align: center;
}

.techStack ul {
    display: inline-block;
}

.techStack-list {
    columns: 2;
    column-gap: 2em;
}

.blue {
    color: hsl(211, 81%, 55%);
}

.image-container img {
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
.card {
    flex-direction: column;
    padding: 0;
}

.card-text {
    padding: 0 1em;
    text-align: center;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
}
